body {
    font-family: Verdana, sans-serif;
    background-image: url(https://cdn.artphotolimited.com/images/5bfe4a7283c0915ebd290679/1000x1000/geisha-1.jpg);  
    background-size: cover;
    background-repeat: no-repeat;
  }
  h1 {
    color: #c45902;
    text-align: center;
    font-size: 60px;
  }
  
  p {
    color: rgb(230, 185, 4); 
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
  }
