body {
    font-family: Verdana, sans-serif;
    background-color: lightblue;
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.tourlane.fr%2Fasie%2Fjapon%2Fduree-voyage%2F&psig=AOvVaw1y8IVF3OdrKlEa3FSoUS5O&ust=1716456413656000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCPCo-cr4oIYDFQAAAAAdAAAAABA
  }
  
  h1 {
    color: #8f0c0c;
    text-align: center;
  }
  
  p {
    color: rgb(3, 80, 3); 
    font-family: verdana;
    font-size: 20px;
  }