body {
    font-family: Verdana, sans-serif;
    background-image: url(https://images.app.goo.gl/8qw4E2VSkrfd5aRd9) 
    background-color: none; 
  }
  h1 {
    color: #8f0c0c;
    text-align: center;
  }
  
  p {
    color: rgb(3, 80, 3); 
    text-align: center;
    font-family :Arial, Helvetica, sans-serif;
    font-size: 20px;
    
  }